NODE_ENV= development # or production+
PORT=3000 # (optional)
MONGO_URL=mongodb://<user>:<password>@localhost:27017/?authSource=<password>

# Auth variables (Get secrets here https://jwtsecrets.com/#generator)
## Access token settings
JWT_SECRET=seu-segredo-super-secreto-para-access-token
JWT_EXPIRES_IN=15m

## Refresh token settings
JWT_REFRESH_SECRET=seu-segredo-ainda-mais-secreto-para-refresh-token
JWT_REFRESH_EXPIRES_IN=7d