* {
    font-family: "Inter";
}

.sidebar {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 16px;
    border-right: 1px solid var(--color-gray-dark);
}

header {
    width: 100%;
    height: fit-content;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    gap: 10px;
    color: var(--black);
}

p {
    font-size: 1.2rem;
}