@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

:root {

    /* Cores Primárias */
    --color-black: #151515;
    --color-white: #FCFCFC;
    --color-gray-dark: #AAAAAA;
    --color-gray-light: #F0F0F0;
    --color-blue-primary: #006BD6;
    --color-blue-dark: #00429A;
    --color-blue-light: #59AEF6;
    --color-blue-background: #C7E5FF;

    /* Gradiente */
    --gradient-primary: linear-gradient(0deg, #59AEF6, #00429A);

    /* Indicadores */
    --color-warning: #EFA107;
    --color-warning-bg: #FFF9DB;
    --color-delete: #FA4659;
    --color-delete-bg: #FDD0D0;
    --color-success: #12B76A;
    --color-success-bg: #ECFFE6;

    /* Sombra */
    --box-shadow-primary: 0.25rem 0.25rem var(--color-blue-primary);

    body {
        background-color: var(--color-white);
    }

    /* Botão pequeno */
.button-small {
    color: var(--color-white);
    cursor: pointer;
    border: 1px solid var(--color-blue-primary);
    border-radius: 4px;
    padding: 0.4em 1em;
    background: var(--color-blue-primary);
    font-size: 0.8rem;
    transition: 0.2s;
}

.button-small:hover {
    color: var(--color-black);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--color-white);
    box-shadow: var(--box-shadow-primary);
}

.button-small:active {
    transform: translate(0);
    box-shadow: none;
}

/* Botão médio (padrão) */
.button {
    color: var(--color-white);
    cursor: pointer;
    border: 1px solid var(--color-blue-primary);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--color-blue-primary);
    font-size: 1rem;
    transition: 0.2s;
}

.button:hover {
    color: var(--color-black);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--color-white);
    box-shadow: var(--box-shadow-primary);
}

.button:active {
    transform: translate(0);
    box-shadow: none;
}

/* Botão grande */
.button-large {
    color: var(--color-white);
    cursor: pointer;
    border: 1px solid var(--color-blue-primary);
    border-radius: 4px;
    padding: 1.2em 3em;
    background: var(--color-blue-primary);
    font-size: 1.2rem;
    transition: 0.2s;
}

.button-large:hover {
    color: var(--color-black);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--color-white);
    box-shadow: var(--box-shadow-primary);
}

.button-large:active {
    transform: translate(0);
    box-shadow: none;
}

}