@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

:root {
    /* Paleta de cores */
    --black: #151515;
    --white: #FCFCFC;
    --gray-dark: #AAAAAA;
    --gray-light: #F0F0F0;
    --blue-primary: #006BD6;
    --blue-dark: #00429A;
    --blue-light: #59AEF6;
    --blue-background: #C7E5FF;

    /* Gradiente */
    --gradient: linear-gradient(100deg, var(--blue-light) 0%, var(--blue-dark) 100%);

    /* Indicadores */
    --warning: #EFA107;
    --warning-bg: #FFF9DB;
    --delete: #FA4659;
    --delete-bg: #FDD0D0;
    --success: #12B76A;
    --success-bg: #ECFFE6;

    /* Sombra */
    --blue-shadow: 0.25rem 0.25rem var(--color-blue-primary);
}

body {
    background-color: var(--color-white);
}

