@import url(/src/global/global.css);

/* ---------------------- Estilização da página do app ---------------------- */
* {
    font-family: "Inter";
    font-size: 1.4rem;
}

body {
    display: flex;
}

.sidebar {
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border-right: 1px solid var(--Light-Gray);
    padding: 1.2rem 0;
}

.user-info,
.groups-container,
.group-create-form,
.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;
    margin: 0 1rem;
}

.group-create-form,
.footer {
    justify-content: space-between;
}

.none-group-container,
.groups-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin: 0;
}

/*Estilização do alerta de grupos vazios*/
.none-group-container {
    justify-content: center;
}

.none-group-container p {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--Dark-Gray);
    text-align: center;
    margin: 1.6rem 1rem 0;
}

/*Estilização da exibição dos grupos*/
.group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    cursor: pointer;
    position: relative;
}

.group:hover,
.group:active,
.group.active {
    background-color: var(--Light-Gray);
}

.group:hover #delete,
.group:active #delete,
.group.active #delete,
.group:hover #edit,
.group:active #edit,
.group.active #edit {
    transition: 0s;
    background-color: var(--Light-Gray);
}

.group.active::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--Dark-Blue);
}

.group-infos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 0;
    max-width: 70%;
}

.group-infos p {
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0;
}

.group-infos span,
.group-options span {
    color: var(--Dark-Gray);
}

.group-options, .actions-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.25rem;
}

.active p,
.active #group-icon {
    color: var(--Dark-Blue);
    font-weight: 600;
}

.sidebar .input-container {
    max-width: 100%;
}

#delete:hover span {
    color: var(--Delete);
}

#delete.mdl-js-ripple-effect .mdl-ripple {
    background-color: var(--Delete);
}

#edit:hover span {
    color: var(--Blue);
}

#edit.mdl-js-ripple-effect .mdl-ripple {
    background-color: var(--Blue);
}

/* -------------------- Estilização da main da aplicação -------------------- */
main {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    padding: 2.5rem 2rem;

}

.task-create-form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task-create-form .input-container {
    min-width: 2.5rem;
}

.tasks-container {
    height: 100%;
}

.tasks-list {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
}



/* ------------------------- Customização do ícones ------------------------- */
.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#user-icon {
    font-variation-settings: 'FILL' 1;
    font-size: 4.2rem;
}

#group-icon {
    font-size: 2.4rem;
}

#logout-icon,
#add-icon {
    color: var(--White);
    font-size: 2rem;
}